.container {
	width: 400px;
	margin: auto;
}

#playground {
	background: #e0ffe0 url(../img/pixel_grid.jpg);
	width: 400px;
	height: 200px;
	position: relative;
	overflow: hidden;
}

#ball {
	background: #fbb;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 150px;
	top: 100px;
	border-radius: 10px;
}

.paddle {
	background: #bbf;
	left: 10px;
	top: 70px;
	position: absolute;
	width: 10px;
	height: 70px; 
}

#paddleB {
	left: 380px;
}