@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

body {
  background: #fff;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #FFF;
}

.container {
  max-width: 68em;
  min-width: 45em;
  margin: 0 auto;
  padding: 0 2em;
}

nav {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  top: 0;
  z-index: 3;
  background: #fff;
}
nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  float: right;
}
nav li {
  display: inline-block;
  padding: 2em 1em;
  text-align: center;
  transition: all .2s;
}
nav li:last-child {
  padding-right: 0;
}
nav a {
  color: #333;
  text-decoration: none;
  transition: all .3s;
}
nav a:hover {
  color: #DDD;
}

#icon {
  display: inline-block;
  padding-top: .7em;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}

.logo {
  width: 140px;
}

.journey {
  margin-left: 15px;
  vertical-align: middle;
}

#nav-bg {
  background: #fff;
  position: fixed;
  height: 5em;
  width: 100%;
  top: 0;
  z-index: 1;
}

header {
  position: relative;
  background: url('img/header.jpg') center center no-repeat;
  padding: 40vh 0 8em;
  z-index: 2;
  height: 100vh;
}
header h1 {
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
}

#about {
  background: #E7E3DA;
  height: 40em;
  padding: 5em 0;
}

#about h1 {
  text-align: center;
  color: #222;
  font-size: 3.75em;
}
#about p {
  line-height: 2em;
  font-size: 1.4em;
  margin: 0;
  color: #222;
}

.footer-paralax {
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-image: url(img/footer.jpg);
}

.footer-paralax h1 {
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
  line-height: 80vh;
  margin:0;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
}

footer {
  width: 100%;
  margin: 0 auto;
  height: 80px;
  z-index: 3;
  background: #fff;
}